<container>
  <row>
    <columns class="padding-bottom-20">
      <p class="experience__header">WORK EXPERIENCE</p>
    </columns>
  </row>

  <row class="">
    <columns small="12" large="12">

      <row class="collapse">
        <columns large="12">
          <row class=" collapse">
            <columns large="12" class="experience padding-bottom-20">
              <p class="experience__comp">Ashoka: Innovators for the Public (Washington, DC Office) —</p>
              <p class="experience__title">(Volunteer) Product Designer, https://twitter.com/Ashoka</p>
              <p class="description light">Jan 2018 - (Present) May 2018</p>
            </columns>
          </row>
          <p class="description">Redesigned and developed a design system their new in-development global marketing
            website
            Revamped Ashoka’s development process in collaboration with their Product Team.</p>
          <p class="description light">Product Design, Interaction and UX Design, Front-end Development.</p>
        </columns>
      </row>

      <row class="collapse">
        <columns large="12">
          <row class="collapse">
            <columns large="8" class="experience padding-bottom-20">
              <p class="experience__comp">Turtle — (Washington DC)</p>
              <p class="experience__title">Co-founder Product Designer, https://apple.co/2ImZp6S</p>
              <p class="description light">Oct 2017 - Present</p>
            </columns>
          </row>

          <p class="description">Worked in the design of an iOS chat app for teens, which attracted close to 3k users
            in the
            first weeks.
            Marketed application, topping the Apple Store chart / “3rd app of the Day” on producthunt.com)</p>
          <p class="description light">UI/UX Design, Front-end Development.</p>
        </columns>
      </row>

      <row class="collapse">
        <columns large="12">
          <row class=" collapse">
            <columns large="8" class="experience padding-bottom-20">
              <p class="experience__comp">Joystick Interactive —</p>
              <p class="experience__title">Front-end Developer (REMOTE, NYC), https://joystickinteractive.com</p>
              <p class="description light">July 2015 - March 2016</p>
            </columns>
          </row>
          <p class="description">Built responsive and interactive marketing micro-sites and ads. Clients include:
            BMW, Mcdonalds, Microsoft, L’oréal, Rimmel London, Ted Cruz, Bernie Sanders, and, Lucky Charms.</p>
          <p class="description light">Front-end Development, Interaction and Animation Design.</p>
        </columns>
      </row>
      <spacer size="1" class="spacer"></spacer>
    </columns>
  </row>
</container>