<row>

  <columns class="padding-bottom-20">
    <p class="experience__header">CASE STUDIES</p>
  </columns>
</row>
<row class="">
  <columns large="12">
    <row class="collapse">
      <columns large="12">
        <row class=" collapse">
          <columns large="8" class="experience padding-bottom-20">
            <p class="experience__comp">Clean CRM</p>
            <p class="experience__title">Product Lead, Solo Designer</p>
          </columns>
        </row>
        <p class="description">Management product for cleaning service companies. Smoothly administrating all the
          customers,
          bookings, quotes and employees on a cleaning service company.
        </p>
        <br>
        <a href="https://www.rafaelmedina.me/work/clean-crm/">— SEE CASE STUDY</a>
      </columns>
    </row>


    <row class="collapse">
      <columns large="12">
        <row class=" collapse">
          <columns large="8" class="experience padding-bottom-20">
            <p class="experience__comp">Condominium</p>
            <p class="experience__title">Frontend, Product Design</p>
          </columns>
        </row>
        <p class="description">Condominium is a beautiful app to manage what matters the most, your community. This
          tool is
          targeted at managers who are constrained and their tenants to automate tasks and solve problems.</p>
        <br>
        <a href="https://www.rafaelmedina.me/work/condominium/">— SEE CASE STUDY</a>
      </columns>
    </row>


    <row class="collapse">
      <columns large="12">
        <row class=" collapse">
          <columns large="8" class="experience padding-bottom-20">
            <p class="experience__comp">Stark Labs</p>
            <p class="experience__title">Web Development, Design, Illustration</p>
          </columns>
        </row>
        <p class="description">Stark Labs A company that develops enterprise automation tasks with various tools as a
          service.
          Specializing in building custom bots and AI platforms.
        </p>
        <br>
        <a href="https://www.rafaelmedina.me/work/starklabs/">— SEE CASE STUDY</a>
      </columns>
    </row>
    <spacer size="1" class="spacer"></spacer>
  </columns>
</row>